<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <h1>Login</h1>
    <form action="" method="post">

        {% csrf_token %}
        <label for="">username</label>
        <input type="username" id="username" name="username" placeholder="enter your username " required>
        <br>
        <label for="">password</label>
        <input type="password" id="pass1" name="pass1" placeholder="enter your password" required>
        <br>
        <button type="submit">signin</button>
        <br>
        <br>
        
    </form>
    <button type="submit" style="width: 200px;"><a href = "register/">register/New_user</a></button>
    <br>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</body>
</html>